{{ $showSection := .ShowSection }}
{{ with .Product }}
    {{ $section := .Site.GetPage "section" .Section }}
    {{ $images := ($section.Resources.ByType "image").Match (printf "%s.*" .File.TranslationBaseName) }}
    {{ $scratch := newScratch }}
    {{ $thumb := index $images 0 }}
    {{ if $thumb }}
        {{ $scratch.Set "image" ($thumb.Fill "300x200 Center").RelPermalink }}
    {{ end }}
<div class="column">
    {{ partial "gocommerce-meta" (dict "Product" . "Type" .Section "Image" ($thumb.Fill "100x100")) }}
    <div class="ui fluid card">
        <div class="image">
            <img src="{{ $scratch.Get "image" | default "https://place-hold.it/300x200?text=Image%20missing" }}">
        </div>
        <div class="left aligned content">
            <div class="header">{{ .Title }}</div>
            {{ if $showSection }}
            {{ $section := .Site.GetPage "section" .Section }}
            <div class="meta">{{ $section.Title }}</div>
            {{ end }}
            <div class="description">
                {{ .Description | default "" }}
            </div>
        </div>
        <div class="left aligned extra content">
            {{ range .Params.Prices }}
            {{ partial "price" . }}
            {{ end }}
            {{ $section := .Site.GetPage "section" .Section }}
            <button
                class="ui red button right floated"
                data-gocommerce-add="{{ $section.Permalink }}"
                data-gocommerce-sku="{{ .Params.sku }}"
            >
                Buy now!
            </button>
        </div>
    </div>
</div>
{{ end }}
