/*
  You can use import statements to include partials:
 */
@import "semantic-ui-css/semantic.css";

/*
  Or add your statements here:
 */
body{
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

header {
  padding: 2rem 0;
}

.product-listing {
  padding-top: 2rem;
}

.price {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.price:after {
  content: ' | ';
}

.price:last-of-type:after {
  content: '';
}